Repository authzed/spicedb-kubeapi-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/cli, area/core, area/dependencies, area/docs, area/tooling

.github/labeler.yml:

---
"area/cli":
  - changed-files:
    - any-glob-to-any-file: "cmd/**/*"
"area/core":
  - changed-files:
    - any-glob-to-any-file: "pkg/**/*"
"area/dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "Dockerfile"
      - "go.mod"
      - "go.sum"
"area/docs":
  - changed-files:
    - any-glob-to-any-file:
      - "CODE-OF-CONDUCT.md"
      - "CONTRIBUTING.md"
      - "DCO"
      - "LICENSE"
      - "README.md"
"area/tooling":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*_test.go"
      - ".github/**/*"
      - ".*"
      - "Dockerfile*"

rules: support generating a set of tuples from one input document
  README.md
  pkg/authz/check.go
  pkg/authz/update.go
  pkg/config/proxyrule/rule.go
  pkg/config/proxyrule/rule_test.go
  pkg/proxy/authn_test.go
  pkg/rules/env.go
  pkg/rules/rules.go
  pkg/rules/rules_test.go
  pkg/rules/tupleset_test.go
Labels: area/core, area/docs, area/tooling

always use bulk check
  pkg/authz/check.go
Labels: area/core

add e2e test for tupleset rules
  e2e/proxy_test.go
Labels: area/tooling

chore: measure code coverage
  .github/workflows/build-test.yaml
  README.md
  magefiles/test.go
Labels: area/docs, area/tooling

chore: code coverage now includes e2e tests
  .github/workflows/build-test.yaml
  .gitignore
  magefiles/test.go
Labels: area/tooling

fix: e2e coverage recording
  .gitignore
  magefiles/test.go
Labels: area/tooling

tests: fix tests timing out due to stuck goroutines
  e2e/proxy_test.go
  magefiles/test.go
Labels: area/tooling

fix: prevent panics in KubeConflict
  pkg/authz/distributedtx/workflow.go
  pkg/authz/distributedtx/workflow_test.go
Labels: area/core, area/tooling

minor adjustments
  e2e/proxy_test.go
  magefiles/test.go
  pkg/authz/distributedtx/workflow.go
Labels: area/core, area/tooling

change test assertion
  e2e/proxy_test.go
Labels: area/tooling

fix: use lock on filter watch
  pkg/authz/filter.go
  pkg/authz/response.go
Labels: area/core

add run e2e until it fails mage command
  magefiles/test.go
Labels: none

fixes lack of idempotency in WriteToSpiceDB
  e2e/go.mod
  e2e/proxy_test.go
  pkg/authz/distributedtx/activity.go
  pkg/authz/distributedtx/workflow.go
  pkg/spicedb/bootstrap.yaml
Labels: area/core, area/tooling

Refactor and cleanup response filtering and fix race condition
  e2e/proxy_test.go
  go.mod
  go.sum
  pkg/authz/authz.go
  pkg/authz/distributedtx/activity_test.go
  pkg/authz/distributedtx/workflow_test.go
  pkg/authz/filter.go
  pkg/authz/frames.go
  pkg/authz/lookups.go
  pkg/authz/postfilter_test.go
  pkg/authz/response.go
  pkg/authz/responsefilterer.go
  pkg/authz/rules.go
  pkg/authz/rules_test.go
  pkg/authz/update.go
  pkg/proxy/authn_test.go
  pkg/proxy/options_test.go
  pkg/proxy/server.go
Labels: area/core, area/dependencies, area/tooling

Refactor and cleanup response filtering and fix race condition
  e2e/proxy_test.go
  go.mod
  go.sum
  pkg/authz/authz.go
  pkg/authz/distributedtx/activity_test.go
  pkg/authz/distributedtx/workflow_test.go
  pkg/authz/filter.go
  pkg/authz/frames.go
  pkg/authz/lookups.go
  pkg/authz/postfilter_test.go
  pkg/authz/response.go
  pkg/authz/responsefilterer.go
  pkg/authz/rules.go
  pkg/authz/rules_test.go
  pkg/authz/update.go
  pkg/proxy/authn_test.go
  pkg/proxy/options_test.go
  pkg/proxy/server.go
Labels: area/core, area/dependencies, area/tooling

fixes race in filtering
  pkg/authz/filter.go
Labels: area/core

Refactor and cleanup response filtering and fix race condition
  e2e/proxy_test.go
  go.mod
  go.sum
  pkg/authz/authz.go
  pkg/authz/distributedtx/activity_test.go
  pkg/authz/distributedtx/workflow_test.go
  pkg/authz/filter.go
  pkg/authz/frames.go
  pkg/authz/lookups.go
  pkg/authz/postfilter_test.go
  pkg/authz/response.go
  pkg/authz/responsefilterer.go
  pkg/authz/rules.go
  pkg/authz/rules_test.go
  pkg/authz/update.go
  pkg/proxy/authn_test.go
  pkg/proxy/options_test.go
  pkg/proxy/server.go
Labels: area/core, area/dependencies, area/tooling

do not log as error context cancelation
  pkg/authz/lookups.go
  pkg/authz/responsefilterer.go
Labels: area/core

Reimplement watch under the new design
  e2e/proxy_test.go
  pkg/authz/authz.go
  pkg/authz/frames.go
  pkg/authz/responsefilterer.go
  pkg/authz/rules.go
  pkg/authz/watch.go
  pkg/config/proxyrule/rule.go
  pkg/proxy/server.go
Labels: area/core, area/tooling

Switch error -> info for expected condition
  pkg/authz/authz.go
Labels: area/core

Catch context cancelation errors in LR calls and don't log them as errors
  pkg/authz/responsefilterer.go
Labels: area/core

Remove extra logging statements for errors
  pkg/authz/lookups.go
Labels: area/core

Additional cleanup
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/authz/responsefilterer.go
  pkg/config/proxyrule/rule.go
Labels: area/core, area/dependencies

Add lint mage command and lint files
  e2e/util_test.go
  go.mod
  magefiles/lint.go
  pkg/authz/responsefilterer.go
Labels: area/core, area/dependencies, area/tooling

minor adjustments
  e2e/proxy_test.go
  magefiles/test.go
  pkg/authz/distributedtx/workflow.go
Labels: area/core, area/tooling

add run e2e until it fails mage command
  magefiles/test.go
Labels: none

fixes lack of idempotency in WriteToSpiceDB
  e2e/proxy_test.go
  pkg/authz/distributedtx/activity.go
  pkg/authz/distributedtx/workflow.go
  pkg/spicedb/bootstrap.yaml
Labels: area/core, area/tooling

fix: prevent panics in KubeConflict
  pkg/authz/distributedtx/workflow.go
  pkg/authz/distributedtx/workflow_test.go
Labels: area/core, area/tooling

change test assertion
  e2e/proxy_test.go
Labels: area/tooling

return zedtoken in WriteToSpiceDB activity in case of retries
  pkg/authz/distributedtx/activity.go
  pkg/authz/distributedtx/workflow.go
Labels: area/core

PR feedback: missing `CloneVT` call
  pkg/authz/distributedtx/activity.go
Labels: area/core

PR feedback: clean up idempotency key tuples with expiration
  go.mod
  pkg/authz/distributedtx/activity.go
  pkg/authz/distributedtx/activity_test.go
  pkg/proxy/options_test.go
  pkg/spicedb/bootstrap.yaml
  pkg/spicedb/spicedb.go
Labels: area/core, area/dependencies, area/tooling

embeddable inmemory transport
  README.md
  docs/embedding.md
  pkg/inmemory/README.md
  pkg/inmemory/transport.go
  pkg/inmemory/transport_test.go
  pkg/proxy/authn.go
  pkg/proxy/embedded_test.go
  pkg/proxy/options.go
  pkg/proxy/server.go
Labels: area/core, area/docs, area/tooling

embedded: add options for authn on the client
  README.md
  docs/embedding.md
  pkg/proxy/embedded_test.go
  pkg/proxy/server.go
Labels: area/core, area/docs, area/tooling

add functional options for embedded mode and embedding spicedb
  README.md
  docs/embedding.md
  e2e/e2e_test.go
  go.mod
  pkg/proxy/authn_test.go
  pkg/proxy/embedded_test.go
  pkg/proxy/options.go
  pkg/proxy/options_test.go
Labels: area/core, area/dependencies, area/docs, area/tooling

add integration test for embedded mode
  docs/embedding.md
  e2e/e2e_test.go
  e2e/embedded_integration_test.go
  e2e/go.mod
  e2e/go.sum
  e2e/util_test.go
  pkg/authz/authz.go
  pkg/authz/distributedtx/workflow_test.go
  pkg/proxy/embedded.go
  pkg/proxy/embedded_test.go
  pkg/proxy/options.go
  pkg/proxy/options_test.go
  pkg/proxy/server.go
  pkg/spicedb/spicedb.go
Labels: area/core, area/tooling

fix: compatibility after rebasing
  e2e/embedded_integration_test.go
  pkg/inmemory/transport_test.go
  pkg/proxy/embedded_test.go
  pkg/proxy/options_test.go
Labels: area/core, area/tooling

fix: compatibility after rebasing
  e2e/embedded_integration_test.go
  e2e/proxy_test.go
  pkg/inmemory/transport_test.go
  pkg/proxy/embedded_test.go
  pkg/proxy/options_test.go
Labels: area/core, area/tooling

add constants for embedded proxy host/scheme
  pkg/proxy/embedded.go
  pkg/proxy/embedded_test.go
  pkg/proxy/options.go
Labels: area/core, area/tooling

fix: request logger
  pkg/authz/requestlogger.go
  pkg/authz/requestlogger_test.go
  pkg/authz/responsefilterer.go
Labels: area/core, area/tooling
