Repository authzed/spicedb-kubeapi-proxy, changes with the labels that .github/labeler.yml gives for each.
All labels: area/cli, area/core, area/dependencies, area/docs, area/tooling

.github/labeler.yml:

---
"area/cli":
  - changed-files:
    - any-glob-to-any-file: "cmd/**/*"
"area/core":
  - changed-files:
    - any-glob-to-any-file: "pkg/**/*"
"area/dependencies":
  - changed-files:
    - any-glob-to-any-file:
      - "Dockerfile"
      - "go.mod"
      - "go.sum"
"area/docs":
  - changed-files:
    - any-glob-to-any-file:
      - "CODE-OF-CONDUCT.md"
      - "CONTRIBUTING.md"
      - "DCO"
      - "LICENSE"
      - "README.md"
"area/tooling":
  - changed-files:
    - any-glob-to-any-file:
      - "**/*_test.go"
      - ".github/**/*"
      - ".*"
      - "Dockerfile*"

chore: bump spicedb to 1.47.1
  go.mod
  go.sum
  pkg/proxy/options_test.go
  pkg/spicedb/spicedb.go
Labels: area/core, area/dependencies, area/tooling

bump dependencies to kube 1.34
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/rules/rules_test.go
Labels: area/core, area/dependencies, area/tooling

chore: use dependabot groups
  .github/dependabot.yml
Labels: area/tooling

fix: strip Accept-Encoding to prevent gzip decode failures
  pkg/proxy/server.go
Labels: area/core

fix: use Accept-Encoding: identity instead of deleting header
  pkg/proxy/server.go
Labels: area/core

fix: properly handle gzip-encoded responses
  e2e/e2e_test.go
  e2e/embedded_integration_test.go
  e2e/proxy_test.go
  e2e/util_test.go
  magefiles/util.go
  pkg/authz/responsefilterer.go
  pkg/proxy/embedded_test.go
Labels: area/core, area/tooling

delete gzip header once decompressed
  pkg/authz/responsefilterer.go
Labels: area/core

adds a decompressing roundtripper
  pkg/authz/responsefilterer.go
  pkg/proxy/embedded_test.go
  pkg/proxy/server.go
  pkg/proxy/transport_test.go
Labels: area/core, area/tooling

chore: add e2e test
  e2e/proxy_test.go
Labels: area/tooling

chore: fix failing test
  pkg/authz/distributedtx/activity.go
Labels: area/core

chore: try removing bits of the fix
  e2e/proxy_test.go
Labels: area/tooling

fix: support gzip-encoded responses from the server
  e2e/proxy_test.go
  pkg/authz/distributedtx/activity.go
  pkg/proxy/server.go
Labels: area/core, area/tooling

test: add gzip e2e test and unit test for WriteToKube Accept-Encoding fix
  e2e/proxy_test.go
  pkg/authz/distributedtx/activity_test.go
Labels: area/core, area/tooling

chore: bump deps
  e2e/e2e_test.go
  e2e/go.mod
  e2e/go.sum
  e2e/proxy_test.go
  go.mod
  go.sum
  magefiles/util.go
  pkg/authz/authz.go
  pkg/authz/responsefilterer.go
  pkg/proxy/options_test.go
  pkg/proxy/zz_spicedb_options.go
  pkg/rules/rules.go
  pkg/spicedb/spicedb.go
Labels: area/core, area/dependencies, area/tooling

chore: fix lint issue
  pkg/authz/distributedtx/workflow.go
Labels: area/core

chore: bump deps (#193)
  e2e/e2e_test.go
  e2e/go.mod
  e2e/go.sum
  e2e/proxy_test.go
  go.mod
  go.sum
  magefiles/util.go
  pkg/authz/authz.go
  pkg/authz/distributedtx/workflow.go
  pkg/authz/responsefilterer.go
  pkg/proxy/options_test.go
  pkg/proxy/zz_spicedb_options.go
  pkg/rules/rules.go
  pkg/spicedb/spicedb.go
Labels: area/core, area/dependencies, area/tooling

build: check for docker and kustomizer where applicable
  magefiles/dev.go
Labels: none

build: check for docker and kustomizer where applicable (#194)
  magefiles/dev.go
Labels: none

chore: bump to most recent spicedb version
  go.mod
  go.sum
  pkg/authz/distributedtx/workflow_test.go
  pkg/proxy/options.go
Labels: area/core, area/dependencies, area/tooling

chore: bump again and run go mod tidy
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

chore: bump to most recent spicedb version (#197)
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  pkg/authz/distributedtx/workflow_test.go
  pkg/proxy/options.go
Labels: area/core, area/dependencies, area/tooling

fix: make discovery REST mapper safe for concurrent use
  pkg/proxy/restmapper.go
  pkg/proxy/restmapper_test.go
  pkg/proxy/server.go
Labels: area/core, area/tooling

perf: memoize KindFor results in the discovery REST mapper
  pkg/proxy/restmapper.go
  pkg/proxy/restmapper_test.go
  pkg/proxy/server.go
Labels: area/core, area/tooling

test: disable metrics on the embedded stored_schema cache
  pkg/spicedb/spicedb.go
Labels: area/core

test(e2e): clean up namespace grants per spec; guard creator-grant rollback
  e2e/proxy_test.go
  e2e/util_test.go
Labels: area/tooling

perf: memoize KindFor results in the discovery REST mapper
  pkg/proxy/restmapper.go
  pkg/proxy/restmapper_test.go
  pkg/proxy/server.go
Labels: area/core, area/tooling

fix: make discovery REST mapper safe for concurrent use
  pkg/proxy/restmapper.go
  pkg/proxy/restmapper_test.go
  pkg/proxy/server.go
Labels: area/core, area/tooling

test: disable metrics on the embedded stored_schema cache
  pkg/spicedb/spicedb.go
Labels: area/core

test(e2e): clean up namespace grants per spec; guard creator-grant rollback
  e2e/proxy_test.go
  e2e/util_test.go
Labels: area/tooling

refactor: drop test-only clock from the caching REST mapper
  pkg/proxy/restmapper.go
  pkg/proxy/restmapper_test.go
Labels: area/core, area/tooling

chore: add -race to test invocation
  magefiles/test.go
Labels: none

chore: fix test races
  e2e/embedded_integration_test.go
  e2e/proxy_test.go
  e2e/util_test.go
  magefiles/util.go
  pkg/proxy/authn_test.go
  pkg/proxy/embedded_test.go
  pkg/proxy/options_test.go
Labels: area/core, area/tooling

chore: add -race to test invocation (#201)
  e2e/embedded_integration_test.go
  e2e/proxy_test.go
  e2e/util_test.go
  magefiles/test.go
  magefiles/util.go
  pkg/proxy/authn_test.go
  pkg/proxy/embedded_test.go
  pkg/proxy/options_test.go
Labels: area/core, area/tooling

docs: document docker and kustomizer prerequisites for dev:up
  README.md
Labels: area/docs

chore: bump deps
  Dockerfile
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  pkg/proxy/server.go
  pkg/rules/rules.go
  pkg/spicedb/spicedb.go
Labels: area/core, area/dependencies, area/tooling

chore: bump deps (#203)
  Dockerfile
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/go.mod
  pkg/proxy/server.go
  pkg/rules/rules.go
  pkg/spicedb/spicedb.go
Labels: area/core, area/dependencies, area/tooling
