Repository authzed/spicedb-kubeapi-proxy, pull requests merged in 2025-07, with the labels that each got.

#127 Switch templating to Bloblang and clean up prefiltering rules
  deploy/rules.yaml
  e2e/go.mod
  e2e/go.sum
  e2e/proxy_test.go
  go.mod
  go.sum
  pkg/authz/distributedtx/workflow.go
  pkg/authz/filter.go
  pkg/config/proxyrule/rule.go
  pkg/config/proxyrule/rule_test.go
  pkg/proxy/options_test.go
  pkg/rules/env.go
  pkg/rules/env_test.go
  pkg/rules/rules.go
  pkg/rules/rules_test.go
Labels: area/dependencies, area/tooling, area/core

#131 Even more fixes and improvements
  e2e/go.mod
  e2e/go.sum
  e2e/proxy_test.go
  e2e/rules.yaml
  go.mod
  go.sum
  pkg/authz/authz.go
  pkg/authz/distributedtx/activity.go
  pkg/authz/distributedtx/activity_test.go
  pkg/authz/distributedtx/workflow.go
  pkg/authz/distributedtx/workflow_test.go
  pkg/authz/update.go
  pkg/config/proxyrule/rule.go
  pkg/config/proxyrule/rule_test.go
  pkg/rules/rules.go
Labels: area/dependencies, area/tooling, area/core

#132 Additional improvements around logging and checking
  e2e/proxy_test.go
  e2e/util_test.go
  pkg/authz/authz.go
  pkg/authz/check.go
  pkg/authz/distributedtx/workflow.go
  pkg/authz/filter.go
  pkg/authz/postfilter.go
  pkg/authz/postfilter_test.go
  pkg/authz/response.go
  pkg/authz/update.go
  pkg/config/proxyrule/rule.go
  pkg/rules/rules.go
  pkg/rules/rules_test.go
  pkg/spicedb/bootstrap.yaml
Labels: area/tooling, area/core

#134 support setting a logger programatically
  pkg/authz/authz.go
  pkg/proxy/options.go
  pkg/proxy/server.go
Labels: area/core

#135 improve rule logging
  deploy/rules.yaml
  e2e/rules.yaml
  pkg/authz/authz.go
  pkg/authz/filter.go
  pkg/config/proxyrule/rule.go
  pkg/config/proxyrule/rule_test.go
  pkg/rules/rules.go
Labels: area/tooling, area/core

#136 Add ability to skip logging setup for parallel tests
  pkg/proxy/options.go
Labels: area/core

#138 fix dockerfile
  .github/workflows/build-test.yaml
  Dockerfile
Labels: area/dependencies, area/tooling

#137 chore: add basic linter rules
  .golangci.yaml
  pkg/authz/authz.go
  pkg/authz/check.go
  pkg/authz/distributedtx/activity.go
  pkg/authz/distributedtx/activity_test.go
  pkg/authz/distributedtx/client.go
  pkg/authz/distributedtx/log.go
  pkg/authz/distributedtx/workflow.go
  pkg/authz/distributedtx/workflow_test.go
  pkg/authz/filter.go
  pkg/authz/postfilter.go
  pkg/authz/postfilter_test.go
  pkg/authz/response.go
  pkg/authz/update.go
  pkg/authz/update_test.go
  pkg/config/proxyrule/rule.go
  pkg/config/proxyrule/rule_test.go
  pkg/proxy/features.go
  pkg/proxy/options.go
  pkg/proxy/options_test.go
  pkg/proxy/server.go
  pkg/rules/env.go
  pkg/rules/env_test.go
  pkg/rules/rules.go
  pkg/rules/rules_test.go
  pkg/spicedb/spicedb.go
Labels: area/tooling, area/core

#141 rules: support generating a set of tuples from one input document
  README.md
  e2e/proxy_test.go
  pkg/authz/check.go
  pkg/authz/update.go
  pkg/config/proxyrule/rule.go
  pkg/config/proxyrule/rule_test.go
  pkg/proxy/authn_test.go
  pkg/rules/env.go
  pkg/rules/rules.go
  pkg/rules/rules_test.go
  pkg/rules/tupleset_test.go
Labels: area/docs, area/tooling, area/core

#143 chore: code coverage now includes e2e tests
  .github/workflows/build-test.yaml
  .gitignore
  magefiles/test.go
Labels: area/tooling

#144 fix: e2e coverage recording
  .gitignore
  magefiles/test.go
Labels: area/tooling

#145 tests: fix tests timing out due to stuck goroutines
  e2e/proxy_test.go
  magefiles/test.go
Labels: area/tooling

#149 Refactor and cleanup response filtering and fix race condition
  e2e/go.mod
  e2e/go.sum
  e2e/proxy_test.go
  e2e/util_test.go
  go.mod
  go.sum
  magefiles/lint.go
  pkg/authz/authz.go
  pkg/authz/distributedtx/activity_test.go
  pkg/authz/distributedtx/workflow_test.go
  pkg/authz/filter.go
  pkg/authz/lookups.go
  pkg/authz/postfilter_test.go
  pkg/authz/response.go
  pkg/authz/responsefilterer.go
  pkg/authz/rules.go
  pkg/authz/rules_test.go
  pkg/authz/update.go
  pkg/authz/watch.go
  pkg/proxy/authn_test.go
  pkg/proxy/options_test.go
  pkg/proxy/server.go
Labels: area/dependencies, area/tooling, area/core
