Repository authzed/spicedb-kubeapi-proxy, pull requests merged in 2025-06, with the labels that each got.

#112 Add additional options handlers to allow for easier use as a library
  e2e/e2e_test.go
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
  magefiles/gen.go
  magefiles/go.mod
  magefiles/go.sum
  magefiles/tools.go
  pkg/proxy/authn_test.go
  pkg/proxy/options.go
  pkg/proxy/options_test.go
  pkg/proxy/server.go
  pkg/proxy/zz_spicedb_options.go
Labels: area/dependencies, area/tooling, area/core

#114 Support newer versions of kubernetes
  e2e/e2e_test.go
  e2e/go.mod
  e2e/go.sum
  e2e/proxy_test.go
  e2e/testresource-crd.yaml
  e2e/util_test.go
  go.mod
  go.sum
  magefiles/go.mod
  magefiles/go.sum
  pkg/authz/authz.go
  pkg/authz/distributedtx/workflow.go
  pkg/authz/filter.go
  pkg/authz/frames.go
  pkg/authz/partial.go
  pkg/authz/response.go
  pkg/proxy/authn.go
  pkg/proxy/authn_test.go
  pkg/proxy/features.go
  pkg/proxy/options.go
  pkg/proxy/server.go
  pkg/rules/rules.go
  pkg/spicedb/bootstrap.yaml
Labels: area/dependencies, area/tooling, area/core

#120 Update to v0.33.1
  e2e/go.mod
  e2e/go.sum
  go.mod
  go.sum
Labels: area/dependencies

#123 Change to FromRESTConfig to allow easier use of the proxy in testing
  pkg/proxy/options.go
Labels: area/core
